/* ROOT */
:root{
    --color-footer-buttom-background: #8BC7D0;
    --color-footer-buttom-letter: #2C2C2C;
    --color-footer-1-background: #F9F0EB;
    --color-footer-2-background: #8BC7D0;
    --color-footer-letter: #000;
}
/* FIN-ROOT */

/* GLOBAL */
*{
/*	border: 1px solid red;*/
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
/* FIN-GLOBAL */

/* FOOTER */
footer{
	width: 100vw;
	height: fit-content;

	background-color: var(--color-footer-1-background);
	
	font-size: .9em;

	display: flex;
	flex-direction: column;

	position:absolute;
	bottom: 0;
}
footer,a{
	color: var(--color-footer-letter);
}
/** PRIMER-FOOTER **/
.primer-footer{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
}

/*** AUTOR ***/
address{
	display: flex;
	flex-direction: column;
}
/*** FIN-AUTOR ***/
article{
	padding: 1em;
	border-left: 1px solid var(--color-footer-buttom-background);
}
.redes-sociales{

	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;
}
.tYC{
	flex-direction: column;	
}
span{
	font-weight: bold;
	line-height: 2em;
	text-align: center;
}
img {
	width: calc(3em + 1vw);
}
li{
	list-style: none;
	font-style: italic;
}
/** FIN-PRIMER-FOOTER **/

/** SEGUNDO-FOOTER **/
.segundo-footer{
	height: 2em;
	background-color: var(--color-footer-2-background);
}
/** FIN-SEGUNDO-FOOTER **/

/* FIN-FOOTER */